
* {
    background-color: honeydew;
    color:slategrey;
    font-size: 18px;
    font-family: fantasy;
    padding: 10px;
    
    
}


h1 {
    color: darkblue;
    font-size: 50px; 
    margin-left: 20;
    text-align: center;
    background-color:goldenrod;
    border-radius: 40px;
    outline: 2px solid darkblue;
    
}

a {
    flex: 1;
    text-decoration: none;
    outline: 3px solid goldenrod;
    text-align: center;
    line-height: 3;
    color: white;
    border-radius: 40px;
    
   
  }
  
  a:link, a:visited, a:focus {
    background: darkblue;
    outline: 3px solid goldenrod;
  }
  
  a:hover {
    background: grey;
  }
  
  a:active {
    background: black;
    color: white;
  }

ul, ol {
font-size: medium;
display: inline;


}

h2 {
    color: white;
    margin-left: 40;
    background-color: darkblue;
    border-radius: 40px;
    text-align: center;
    outline: 2px solid goldenrod;
   

}

/* img*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 3px solid darkgoldenrod;
    border-radius: 40px;

}
p {
    text-align: center;
   
}

div {
  border: 3px solid darkgoldenrod;
  background-color: honeydew;
  box-sizing: border-box;
  display: flex; 
  border-radius: 40px;
  padding: 20px;
 
}

